.sidenav {position: relative; z-index:9999999; transition: 0.5s; float: left;}
.sidenav a:hover, .offcanvas a:focus{ color: #222;}
.sidenav .closebtn {position: absolute; top: 0px;left: auto;font-size: 40px;line-height: 36px;display: none;  right: 10px;   text-shadow: 1px 1px 1px #fff;}
.sidenav a:hover, .sidenav a:focus{ text-decoration: none;}
.sidenav .closebtn:hover{color: #ddd;}
#main {transition: margin-left .5s;}
.menu-icon{ font-size: 22px;cursor: pointer;display: none;position: absolute;top:14px;right: 20px;}
.overlay{overflow: hidden;z-index: 99999;background:rgba(0,0,0,0.6);position: fixed;width: 100%;height: 100%;}
ul.min-menu{margin-bottom: 0; display: inline-block;}
.min-menu li:first-child{margin-left: 0;}
.min-menu li {display:inline-block;position: relative; margin-left: 30px; position: relative;}
.min-menu li a {font-size: 16px; text-decoration: none; color: #333333; display:block; transition: 0.3s; font-family:'Open Sans';padding: 12px 0; letter-spacing: 0.6px;}
.min-menu li a:hover{color: #65aced;}
.min-menu li:hover .su-menu, .min-menu li.sub-menu .su-menu.menu-active {height:auto;}
.min-menu li.mega-menu:hover .su-menu, .min-menu li.mega-menu.sub-menu-open .su-menu {border: 1px solid #ddd;padding: 15px 0 20px;box-shadow:0 4px 5px rgba(0, 0, 0, 0.15);}
.min-menu li .su-menu {transition: height 200ms ease-in 0s; -webkit-transition:height 200ms ease-in;-moz-transition:height 200ms ease-in;-o-transition:height 200ms ease-in;transition:height 200ms ease-in;height: 0;overflow: hidden; position: absolute;background: #fff;width: 250px;z-index: 99999;transition: 0.3s; box-shadow: 5px 8px 12px -7px #333;}
.min-menu li:hover .su-menu, .min-menu li.sub-menu .su-menu.menu-active {height:auto;}
.min-menu li .su-menu li{display:block; transition: all 0.3s ease-in-out 0s; margin-left: 0;}
.min-menu li .su-menu li a{padding:9px 15px;font-size: 14px;border-bottom: 1px solid #ededed; transition: all 0.2s ease-in-out 0s;color: #444;}
.min-menu li .su-menu li a:hover{color: #00719b; padding-left:18px; -webkit-transition: all 0.2s ease-out 0s; -moz-transition: all 0.2s ease-out 0s; -ms-transition: all 0.2s ease-out 0s; -o-transition: all 0.2s ease-out 0s; transition: all 0.2s ease-out 0s;}
.min-menu li.mega-menu .su-menu li a{border: none;padding:5px 0;font-size: 14px;}
.min-menu li.mega-menu .su-menu li a:hover{color: #444; padding-left:5px; background:rgba(0, 0, 0, 0); -webkit-transition: all 0.4s ease-out 0s; -moz-transition: all 0.4s ease-out 0s; -ms-transition: all 0.4s ease-out 0s; -o-transition: all 0.4s ease-out 0s; transition: all 0.4s ease-out 0s;}
.min-menu li.mega-menu .su-menu{width: 100%;left: 0px;}
/*.class-ace-logo{max-width:240px;}*/
/*.banner-img-block{display: none;}*/
.banner-img-block {    background-color: #fff;    padding: 45px 0;    text-align: center;    height: 120px;  border-bottom: 1px solid #eaeaea;     display: none;}


@media all and (max-width:767px){
/*Top Menu css start here*/
.class-ace-logo{max-width: 150px;} 
.banner-img-block {display: block;}
.heading-mrg{margin: 10px 0;}
.sidenav ul.min-menu{display: block;}
.sidenav {height: 100%; width: 0; position: fixed; top: 0; left: 0; background-color: #fff; overflow-x: hidden; transition: 0.5s; padding-top:0px;min-width: auto; box-shadow: -5px -2px 5px -3px #dcdcdc inset;}
.sidenav ul.min-menu li.btn-become a{ border: 0px solid #fff;color: #cfcfcf;padding: 14px 10px 10px; font-size: 18px; text-transform: none;}
.sidenav ul.min-menu li.btn-become a:hover{color: #fff;}
.sidenav .closebtn{display: block; z-index: 1; color: #676565;}	
.img-responsive-logo{ width: 100%;position: absolute;height: 100%;top: 0px;left: 0;right: 0;margin: 0 auto;}
/*.banner-img-block{height: 130px; width: 100%; background-size: cover; margin-bottom: 2px; text-align: center; padding-top: 44px;display: block; position: relative; background-image:url(../images/top-bg.jpg); background-position: center center; background-repeat: no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }    */
.banner-img-block img{width: 150px; z-index: 1; position: relative;}
.menu-icon{display: block;}	
.min-menu li{display: block; border-bottom: 1px solid #eaeaea; margin-left: 0;}	
.min-menu li a{color: #243238; padding: 12px 10px;}
.min-menu li a:hover{color: #00719b;}	
.min-menu li a:focus{color: #00719b;}	
.min-menu li:last-child{border-bottom: none;}
.min-menu  ul.su-menu.menu-active{display: block; background: -moz-linear-gradient(left, rgba(251,251,251,1) 19%, rgba(251,251,251,0.1) 80%, rgba(251,251,251,0.03) 85%, rgba(251,251,251,0) 87%); background: -webkit-linear-gradient(left, rgba(251,251,251,1) 19%,rgba(251,251,251,0.1) 80%,rgba(251,251,251,0.03) 85%,rgba(251,251,251,0) 87%); background: linear-gradient(to right, rgba(251,251,251,1) 19%,rgba(251,251,251,0.1) 80%,rgba(251,251,251,0.03) 85%,rgba(251,251,251,0) 87%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#00fbfbfb',GradientType=1 ); box-shadow: none;}
.min-menu li .su-menu {position: relative;height:auto; display: none; box-shadow: none;}
.min-menu li .su-menu li{border-bottom: none; cursor: pointer;}
.min-menu li .su-menu li a{font-size: 13px; border-bottom: none; padding: 6px 15px;}
.min-menu li.active .su-menu{display: block !important; background-color: #f2f2f2;}
}
